.vscode/
__pycache__
*.env
**/__pycache__/
*.py[cod]
*$py.class
# Python build and distribution artifacts
build/
dist/
*.egg-info/
*.egg

# Byte-compiled files (speed up execution)
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv
env/
venv/

# IDE specific files
.vscode/
.idea/
gmr_venv/